# Environment
.env
.venv/

# Large data files
data/raw/
data/processed/train.parquet
data/processed/test.parquet
data/processed/user_positive_sets.pkl
data/processed/content_embeddings.pt
data/processed/movie_content.csv

# Large model files
models/two_tower_best.pt
models/ncf_best.pkl
models/svd_baseline.pkl

# Database
data/db/
data/chromadb/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Jupyter
.ipynb_checkpoints/
notebook/.ipynb_checkpoints/

# UV / Python version
uv.lock
.python-version
pyproject.toml

# Misc
Thumbs.db
.DS_Store
project_structure.py
main.py
