aiohttp
chromadb
fastapi
numpy
pandas
pydantic
pydantic-settings
python-dotenv
python-multipart
requests
sqlalchemy
streamlit
torch --index-url https://download.pytorch.org/whl/cpu
tqdm
transformers
uvicorn
pyarrow
scikit-learn
alembic