flask
uvicorn
fastapi
scikit-learn
scikit-surprise
pandas
numpy>=1.26.0,<2.0
matplotlib
tensorflow
seaborn
requests
chromadb
sentence-transformers
streamlit
sqlalchemy

#dashboard
plotly
dash
dash-bootstrap-components
